*{
    background-color: #f5c7f7;
}
.container{
    background:#a393eb;
    width: auto;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 30px;
}
.content{
    background: white;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 5px 15px;

}
 @media screen and (max-width: 600px) {

    .container{
        flex-direction: column;
        background-color:#906387;
    }
   
    
 }
 
     
    
 
